header{
    padding: 0 20px;
    height: 60px;
    display: flex;
    justify-content:left;
    background-color: #ffffff;
    padding-right: 40px;
}
body{
    background-color: #fafbfc;
}
#brand{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#brand:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#brand a{
    margin: 0px 40px;
    color: red;
    font-size: 30px;;
}

a{
    text-decoration: none !important;
}

.body-wrapper{
    padding: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(13%2c 40%2c 123%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c121 C 96%2c171 288%2c353.8 480%2c371 C 672%2c388.2 768%2c207.2 960%2c207 C 1152%2c206.8 1344%2c337.4 1440%2c370L1440 560L0 560z' fill='rgba(28%2c 67%2c 205%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
form{
    background-color:#ffffff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color:black
}
form input{
    width:80%;
    padding: 5px;
    margin: 5px;
    border: #eaeff4 1px solid;
    color: #63738f;
    border-radius: 2px;
    font-size: 20px;
}
form button{
    margin-top: 20px;
    padding: 5px;
    background-color: #16297d;
    border-radius: 5px;
    font-size: 20px;
    color:white;
}
.landing-section{
    padding: 30px;
    height:400px;
}
.trainings{
    padding: 20px;
    background-color: #fff;
    color:black;
    border-radius: 5px;
    box-shadow: 0 4px 4px black;
}
.train_item div{
    background-color: #0f8cff;
    border-radius: 5px;
    height:100%;
    aspect-ratio: 2/1;
    padding: 5px;
}
.program_design{
    text-align: center;
}
.program_design_box{
    border-radius: 5px;
    border: #abbad3 solid 1px;
    padding: 5px;
    height:100%
}

.alumni_container{
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #00000050;
    padding: 10px;
}
.alumni_container:hover{
    scale: 1.02;
    transition-duration: 0.2s;
    cursor: default;
}
.down_arrow{
    color: #5da2ff;
    font-size: 70px;
}
.trainings .container .row{
    text-align: center;
}
.alumni_container img{
    height:72px;
}
.alumni_name{
    font-weight: 700;
}
.train_item img{
    height: 72px;
}

header img{
    height:60px;
}
.alumni_brief{
    padding-left: 5px;
    padding-right: 5px;
}
.alumni_brief p img{
    height:20px;
}
.alumni_brief{
    border: #abbad3 solid 1px;
    border-radius: 5px;
}
.alumni_brief img{
    height:74px;
}
.alumni_brief_name{
    font-size: 20px;
    font-weight: 500;
}
/*Alumni Overlay*/
.alumni_overlay{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    right:0;
    top:0;
    z-index: 1;
    width:40%;
    height:100%;
    display:none;
}
.overlay-heading{
    display: flex;
    align-items: center;
}
.alumni-overlay-img{
    height:100px;
    max-width: 100%;
    margin-right: 20px;
}
.overlay-overview img{
    height:24px;
}
.overlay-overview{
    color: #63738f;
}
.alumni_overlay .container{
    padding-top:30px;
    padding-left: 30px;
    max-width:100%;
    margin-right: 0;
    height:100%;
    background-color: white;
    overflow-y:auto;
}
.pre-post-compare{
    text-align: center;
    color:#8a97ae;
    margin:0;
    padding: 0;
}
.overlay-role{
    font-weight: 600;
    font-size: 14px;
}

.x-mark{
    color:black;
    font-size: 40px;
    position: absolute;
    top:5px;
    right:5px;
}
.x-mark:hover{
    border-radius: 50px;
    background-color: #63738f90;
    cursor:pointer;
    font-weight: 200;
}
.review-header{
    background-color: white;
    padding:30px;
    font-size: 20px;
}
#review-header-highlight{
    color: #005ab3;
    font-size: 30px;
    font-weight: 700;
}
#free-highlight{
    color: #e23f5b;
}
.overlay-company{
    color:#00000099;
    font-weight: 500;
    font-size: 20px;
}

.alumni-brief-container{
    max-height:100%;
}
.alumni_brief{
    margin-bottom: 10px;
}
.alumni_container{
    margin-bottom: 10px;
}
.alumni a{
    color: black;
}

@media only screen and (max-width: 330px) {
    .train_item h5{
        font-size: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .landing-section{
        height:480px
    }
    .body-wrapper{
        padding:5px;
    }
    .landing-section{
        padding:10px;
    }
    .landing-section h3{
        margin-top: 30px;
    }
    .train_item h5{
        font-size: 15px;
    }
    .program_design_box img{
        height: 40px;
    }
    .alumni h3{
        padding: 5px;
        font-size: 20px;
    }
    .alumni_container{
        margin: 5px;
        height: 100%;
    }
    .train_item{
        margin-top:5px;
    }
    .program_design_box{
        margin-top:5px;
    }
    .alumni_overlay{
        width:100%;
        height:auto;
    }
    .logos img{
        width:60px;
    }
    
}

.logos img{
    width:170px;
}